.App {
  text-align: center;
  background-position: top;
  background-image: url(./images/bull3.jpg) ;
  background-size: cover;
  height: 50em;

}

#header{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr; 
}

.home-button{
color: orangered;
background: transparent;
font-size: 2em;
font-weight: 700;
padding-top: .75em;
border: none
}
.header-title{
  font-size: 2em;
  width: 100%;
  color: orangered;
}
.header-logout{
color: orangered;
background: transparent;
font-size: 2em;
font-weight: 700;
padding-top: .75em;
border: none
}
#header-welcome{
  color: orangered;
  text-align: center;
  width: 100%;
}